<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('./adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [105]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [30]:
data.loc[data["sex"]=="Female",'age'].mean()

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

**3. What is the percentage of German citizens (*native-country* feature)?**

In [44]:
float( (data['native-country']=='Germany').sum() ) / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [61]:
res1=(data.groupby('salary')['age'].mean())

res2=(data.groupby('salary')['age'].std())

print("1:",round(res1[0]),"+-",round(res2[0]))
print("2:",round(res1[1]),"+-",round(res2[1]))

1: 37.0 +- 14.0
2: 44.0 +- 11.0

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [65]:
data.loc[data["salary"]=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [80]:
for (race, sex),dat in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(dat['age'].describe())

data.loc[data['race']=='Amer-Indian-Eskimo'].groupby('race').describe()['age']['max']

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

race
Amer-Indian-Eskimo    82.0
Name: max, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [124]:
dat=data.loc[(data['salary']=='>50K') & (data['sex']=='Male')]
print((dat.loc[dat['marital-status'].str.startswith('Married')]).shape[0])
(dat.shape[0])

5965

6662

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [153]:
maxhpw=data['hours-per-week'].max()
print(maxhpw)
people=data.loc[data['hours-per-week']==maxhpw]
print(people.shape[0])
perc=people.loc[people['salary']=='>50K']
print(perc.shape[0])

print("percentage:",100*perc.shape[0]/people.shape[0])

99
85
25
percentage: 29.41176470588235

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [204]:
rich=data.loc[data['salary']=='>50K']
notrich=data.loc[data['salary']!='>50K']

res1=rich.groupby('native-country')
res2=notrich.groupby('native-country')

print(res1.mean())
print(res2.mean())

for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

                          age         fnlwgt  education-num  capital-gain  \
native-country
?                   44.328767  187154.513699      12.273973   6873.205479
Cambodia            41.428571  237677.000000      10.285714   1935.714286
Canada              45.769231  202084.076923      11.512821   4433.923077
China               44.550000  188284.700000      13.350000   1088.600000
Columbia            53.500000  283410.500000      15.500000      0.000000
Cuba                41.520000  252969.680000      11.160000   1011.920000
Dominican-Republic  30.500000  220226.000000       9.000000  49999.500000
Ecuador             47.500000  169428.750000      10.500000   2346.500000
El-Salvador         50.111111  149620.555556      12.222222   4708.111111
England             45.533333  176206.700000      12.166667   2177.700000
France              40.166667  172499.916667      12.666667   1116.750000
Germany             44.409091  198534.590909      12.090909   2449.068182
Greece              50.250000  121954.125000      11.125000   3741.250000
Guatemala           35.666667  247825.666667       7.666667   2562.666667
Haiti               48.000000  206832.500000       9.500000      0.000000
Honduras            47.000000   51835.000000      15.000000      0.000000
Hong                31.500000  294478.833333      13.833333      0.000000
Hungary             57.333333  172137.333333      11.000000   1726.000000
India               41.625000  164542.525000      13.850000   8697.425000
Iran                41.222222  179504.666667      13.111111   4884.444444
Ireland             43.600000  135631.800000      11.400000      0.000000
Italy               50.360000  185383.360000      10.960000   1253.040000
Jamaica             42.100000  211707.900000      10.900000   3507.500000
Japan               42.875000  167433.708333      12.583333   6258.750000
Laos                41.000000  221266.500000       9.000000      0.000000
Mexico              40.484848  302417.000000       9.393939   4256.393939
Nicaragua           34.000000  399953.500000       9.500000      0.000000
Peru                33.500000  314562.500000      11.500000      0.000000
Philippines         42.737705  178169.196721      12.442623   3259.065574
Poland              50.583333  179314.166667      11.083333   2743.083333
Portugal            40.000000  106998.250000      10.750000      0.000000
Puerto-Rico         46.500000  221403.333333       9.833333   2299.500000
Scotland            52.666667  208306.666667      10.666667   1726.000000
South               44.875000  160641.250000      11.687500   9066.937500
Taiwan              40.800000  193354.550000      14.450000   5364.850000
Thailand            32.666667  199784.000000      12.666667      0.000000
Trinadad&Tobago     42.500000  162096.000000       7.000000      0.000000
United-States       44.297169  187433.992330      11.578859   3967.286850
Vietnam             35.400000  141648.400000       9.600000   5873.600000
Yugoslavia          40.166667  197059.166667      10.333333    926.000000

                    capital-loss  hours-per-week
native-country
?                     285.397260       45.547945
Cambodia                0.000000       40.000000
Canada                 97.153846       45.641026
China                 413.550000       38.900000
Columbia                0.000000       50.000000
Cuba                  210.960000       42.440000
Dominican-Republic      0.000000       47.000000
Ecuador                 0.000000       48.750000
El-Salvador             0.000000       45.000000
England               115.533333       44.533333
France                  0.000000       50.750000
Germany               217.977273       44.977273
Greece                539.625000       50.625000
Guatemala               0.000000       36.666667
Haiti                   0.000000       42.750000
Honduras             1902.000000       60.000000
Hong                  329.500000       45.000000
Hungary                 0.000000       50.000000
India                 288.325000       46.475000
Iran                  191.722222       47.500000
Ireland               377.400000       48.000000
Italy                  79.080000       45.400000
Jamaica                 0.000000       41.100000
Japan                  82.375000       47.958333
Laos                    0.000000       40.000000
Mexico                 57.181818       46.575758
Nicaragua             924.000000       37.500000
Peru                  924.000000       40.000000
Philippines           196.229508       43.032787
Poland                  0.000000       39.000000
Portugal                0.000000       41.500000
Puerto-Rico           158.500000       39.416667
Scotland                0.000000       46.666667
South                 361.312500       51.437500
Taiwan                314.700000       46.800000
Thailand                0.000000       58.333333
Trinadad&Tobago       943.500000       40.000000
United-States         194.465207       45.505369
Vietnam                 0.000000       39.200000
Yugoslavia              0.000000       49.500000
                                  age         fnlwgt  education-num  \
native-country
?                           36.853547  195354.379863      10.038902
Cambodia                    35.666667  167065.666667       7.916667
Canada                      41.012195  169279.585366      10.243902
China                       41.800000  175689.181818      10.309091
Columbia                    39.228070  223105.157895       9.157895
Cuba                        47.285714  243906.228571       9.042857
Dominican-Republic          37.941176  191262.014706       7.058824
Ecuador                     34.833333  188597.166667       9.291667
El-Salvador                 32.649485  264114.123711       6.340206
England                     38.966667  185459.400000      10.433333
France                      38.117647  205851.588235      11.941176
Germany                     36.817204  184968.236559      10.462366
Greece                      44.666667  151661.285714       9.190476
Guatemala                   32.262295  266016.016393       5.950820
Haiti                       37.300000  209238.125000       8.875000
Holand-Netherlands          32.000000   27882.000000      10.000000
Honduras                    32.750000  272571.000000       8.166667
Hong                        34.571429  191441.571429       9.214286
Hungary                     47.000000  182993.800000      10.700000
India                       35.733333  171203.466667      11.483333
Iran                        38.120000  184160.240000      11.880000
Ireland                     34.578947  138620.157895       9.736842
Italy                       44.375000  179759.375000       7.750000
Jamaica                     34.676056  212218.239437       9.704225
Japan                       35.315789  197242.526316      10.710526
Laos                        33.937500  209838.187500       8.500000
Mexico                      32.901639  289038.116393       5.959016
Nicaragua                   33.593750  287987.906250       8.656250
Outlying-US(Guam-USVI-etc)  38.714286  204487.785714      10.285714
Peru                        35.379310  271800.517241       9.206897
Philippines                 37.978102  160747.970803      10.167883
Poland                      41.250000  185051.479167       9.854167
Portugal                    40.333333  153666.939394       6.212121
Puerto-Rico                 39.803922  200316.009804       8.107843
Scotland                    36.333333  155825.888889      10.111111
South                       37.218750  164191.921875      10.718750
Taiwan                      29.322581  181981.290323      12.548387
Thailand                    35.400000  181043.200000      10.600000
Trinadad&Tobago             41.176471  218778.941176       8.411765
United-States               36.816719  186950.051730       9.710032
Vietnam                     33.951613  165028.725806       9.661290
Yugoslavia                  38.000000  227306.800000       9.700000

                            capital-gain  capital-loss  hours-per-week
native-country
?                             113.757437     62.427918       40.164760
Cambodia                      498.250000    289.833333       41.416667
Canada                        110.695122    145.524390       37.914634
China                         103.890909     94.418182       37.381818
Columbia                      186.947368     28.105263       38.684211
Cuba                          136.985714     19.714286       37.985714
Dominican-Republic             48.897059     25.911765       42.338235
Ecuador                       224.458333      0.000000       38.041667
El-Salvador                   190.773196     34.000000       36.030928
England                       208.233333     66.366667       40.483333
France                        144.882353      0.000000       41.058824
Germany                       148.096774     11.741935       39.139785
Greece                        347.761905    202.428571       41.809524
Guatemala                     116.147541     26.131148       39.360656
Haiti                           0.000000     80.625000       36.325000
Holand-Netherlands              0.000000   2205.000000       40.000000
Honduras                        0.000000      0.000000       34.333333
Hong                            0.000000      0.000000       39.142857
Hungary                       413.800000    166.800000       31.300000
India                         209.916667     26.316667       38.233333
Iran                            0.000000     80.080000       41.440000
Ireland                       409.842105      0.000000       40.947368
Italy                         277.375000      0.000000       39.625000
Jamaica                        48.042254      0.000000       38.239437
Japan                         201.473684     41.842105       41.000000
Laos                          180.312500      0.000000       40.375000
Mexico                        135.537705     22.990164       40.003279
Nicaragua                     212.312500     49.343750       36.093750
Outlying-US(Guam-USVI-etc)      0.000000      0.000000       41.857143
Peru                           63.137931      0.000000       35.068966
Philippines                    20.649635     55.642336       38.065693
Poland                        169.583333     42.729167       38.166667
Portugal                      256.060606      0.000000       41.939394
Puerto-Rico                    83.980392     43.078431       38.470588
Scotland                        0.000000      0.000000       39.444444
South                          70.437500    121.453125       40.156250
Taiwan                         71.032258     51.677419       33.774194
Thailand                        0.000000      0.000000       42.866667
Trinadad&Tobago                 0.000000    137.588235       37.058824
United-States                 151.071549     53.972635       38.799127
Vietnam                       240.193548     94.338710       37.193548
Yugoslavia                      0.000000      0.000000       41.600000
? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5